In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector
import seaborn as sns
from datetime import datetime
from seaborn import colors
cnn = mysql.connector.connect(host="localhost", user="root", 
        passwd="45237823", database="data")

In [31]:
def Da_Ti(N_1a,N_1b):
    cur = cnn.cursor()
    sql = "SELECT Time FROM Data.polar where N > {} AND N < {} ".format(N_1a,N_1b)
    cur.execute(sql)
    datos = cur.fetchall()
    cur.close()  
    return datos
def Da_po(N_1a,N_1b):
    cur = cnn.cursor()
    sql = "SELECT Value FROM Data.polar where N > {} AND N < {} ".format(N_1a,N_1b)
    cur.execute(sql)
    datos = cur.fetchall()
    cur.close()  
    return datos
def Da_myo(N_1a,N_1b):
    cur = cnn.cursor()
    sql = "SELECT Max FROM Data.myoware where N > {} AND N < {} ".format(N_1a,N_1b)
    cur.execute(sql)
    datos = cur.fetchall()
    cur.close()  
    return datos
def dataPo(a,b):
    das=Da_po(a,b)
    for n in range(29):
       das[n]=das[n][0]
    return das
def dataMy(a,b):
    das=Da_myo(a,b)
    for n in range(29):
       das[n]=das[n][0]
    return das
def dataTi(a,b):
    das=Da_Ti(a,b)
    for n in range(29):
       das[n]=das[n][0]
    return das

In [32]:
datos=[]
levels= []         
p=15543
for i in range(7):
    x=p+i*30
    levels.append(x)
dfp=[]
num=int(len(levels)-1)
for t in range(6):
    dfp.append(dataTi(levels[t],levels[t+1]))
datos.append(dfp)
dfp=[]
for t in range(6):
    dfp.append(dataPo(levels[t],levels[t+1]))

#dat1=pd.DataFrame(dfp)
#dat1f=dat1.transpose()
datos.append(dfp)
m=8353
levels= [] 
for i in range(7):
    x=m+i*30
    levels.append(x)
dfp=[]
num=int(len(levels)-1)
for t in range(6):
    dfp.append(dataMy(levels[t],levels[t+1]))

#datm=pd.DataFrame(dfp)
#datmf=datm.transpose()
datos.append(dfp)

In [39]:
#print(datos[0][0])
#print(datos[1][0])
dat=[]
dat.append(datos[0][0])
dat.append(datos[1][0])
dat.append(datos[2][0])

In [40]:
print(datos[2])

[[544, 404, 378, 329, 259, 139, 585, 530, 589, 615, 36, 129, 245, 806, 977, 624, 931, 1119, 774, 621, 440, 130, 146, 214, 282, 186, 240, 189, 68], [100, 83, 144, 469, 577, 183, 575, 752, 734, 227, 141, 373, 197, 128, 145, 0, 15, 141, 158, 94, 647, 432, 1040, 1267, 560, 1104, 807, 739, 59], [417, 247, 208, 139, 1264, 1040, 127, 240, 383, 320, 207, 967, 850, 299, 590, 1666, 1047, 1046, 357, 325, 409, 176, 457, 439, 446, 1430, 633, 816, 619], [467, 539, 240, 79, 475, 688, 390, 235, 1201, 1049, 983, 1383, 1014, 913, 854, 741, 467, 772, 322, 779, 1135, 142, 244, 752, 674, 586, 41, 0, 43], [455, 209, 627, 381, 99, 212, 640, 661, 208, 345, 813, 239, 958, 1793, 851, 494, 742, 92, 0, 76, 151, 0, 23, 38, 1841, 1774, 638, 134, 75], [176, 80, 163, 740, 560, 289, 235, 944, 1070, 929, 233, 88, 51, 19, 75, 525, 673, 95, 29, 208, 336, 478, 138, 789, 698, 554, 445, 1185, 1490]]

In [41]:
print(dat)
td=pd.DataFrame(dat)
td=td.transpose()
print(td.head(30))

[['17:18:02', '17:18:03', '17:18:04', '17:18:05', '17:18:06', '17:18:07', '17:18:08', '17:18:09', '17:18:10', '17:18:11', '17:18:12', '17:18:13', '17:18:14', '17:18:15', '17:18:16', '17:18:17', '17:18:18', '17:18:19', '17:18:20', '17:18:21', '17:18:22', '17:18:23', '17:18:24', '17:18:25', '17:18:26', '17:18:27', '17:18:28', '17:18:29', '17:18:30'], [105, 105, 104, 102, 99, 99, 98, 98, 96, 97, 100, 100, 103, 103, 106, 109, 111, 111, 111, 111, 112, 113, 113, 113, 112, 111, 110, 108, 108], [544, 404, 378, 329, 259, 139, 585, 530, 589, 615, 36, 129, 245, 806, 977, 624, 931, 1119, 774, 621, 440, 130, 146, 214, 282, 186, 240, 189, 68]]
           0    1     2
0   17:18:02  105   544
1   17:18:03  105   404
2   17:18:04  104   378
3   17:18:05  102   329
4   17:18:06   99   259
5   17:18:07   99   139
6   17:18:08   98   585
7   17:18:09   98   530
8   17:18:10   96   589
9   17:18:11   97   615
10  17:18:12  100    36
11  17:18:13  100   129
12  17:18:14  103   245
13  17:18:15  103   806
14  17:18:16  106   977
15  17:18:17  109   624
16  17:18:18  111   931
17  17:18:19  111  1119
18  17:18:20  111   774
19  17:18:21  111   621
20  17:18:22  112   440
21  17:18:23  113   130
22  17:18:24  113   146
23  17:18:25  113   214
24  17:18:26  112   282
25  17:18:27  111   186
26  17:18:28  110   240
27  17:18:29  108   189
28  17:18:30  108    68