In [3]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector
from datetime import datetime
Name="Tatiana"
cnn = mysql.connector.connect(host="localhost", user="root", 
        passwd="45237823", database="Data")

In [9]:
def Da_po(N_1a,N_1b):
    cur = cnn.cursor()
    sql = "SELECT * FROM Data.polar WHERE Name = '{}' AND N > {} AND N < {} ".format(Name,N_1a,N_1b)
    cur.execute(sql)
    datos = cur.fetchall()
    cur.close()  
    return datos
def Da_my(N_1a,N_1b):
    cur = cnn.cursor()
    sql = "SELECT * FROM Data.myoware WHERE Name = '{}' AND N > {} AND N < {} ".format(Name,N_1a,N_1b)
    cur.execute(sql)
    datos = cur.fetchall()
    cur.close()  
    return datos

In [10]:
N_1a=2160
N_1b=2090
datos=Da_po(N_1a,N_1b)
df_p1 = pd.DataFrame(data=datos)
df_p1.columns = ['ID','Name','Time','RPM']

N_1c=1245
N_1d=1275


datos2=Da_my(N_1c,N_1d)
df_m1 = pd.DataFrame(data=datos2)
df_m1.columns = ['ID','Name','Time','Min','Max']
df_m1.head()

ValueError: Length mismatch: Expected axis has 0 elements, new values have 5 elements

In [34]:
cur = cnn.cursor()
sql = "SELECT * FROM Data.myoware WHERE Name = '{}'".format(Name)
cur.execute(sql)
datos = cur.fetchall()
cur.close()  
print(len(datos))
df_m = pd.DataFrame(data=datos)
df_m.columns = ['ID','Name','Time','Min','Max']
df_m.head(10)

374

    ID     Name      Time  Min  Max
0  964  Tatiana  16:38:03   29   69
1  965  Tatiana  16:38:03   28  123
2  966  Tatiana  16:38:03   30   62
3  967  Tatiana  16:38:03   32   61
4  968  Tatiana  16:38:03   31   77
5  969  Tatiana  16:38:03   28   54
6  970  Tatiana  16:38:03   29   53
7  971  Tatiana  16:38:04   31  126
8  972  Tatiana  16:38:04   40   86
9  973  Tatiana  16:38:04   29  199

In [ ]:
fig, (ax1, ax2) = plt.subplots(2, 1)
fig.suptitle('Piloto')

ax1.plot(df[2],df2[3], 'o-')
ax1.plot(df2[2],df2[4], 'o-')
ax1.set_ylabel('Myoware')

ax2.plot(df[2], df[3], '.-')
ax2.set_xlabel('time')
ax2.set_ylabel('Polar')

plt.show()